<article class="componente componente-hijo">
 
  <header class="encabezado encabezado-hijo">
    <h2>Componente Hijo</h2>
  </header>

  <section class="contenido">
    <p>Mensaje recibido desde el componente padre:</p>
    <output class="mensaje"> {{ message }} </output>
    <p>Mensaje que enviarás al componente padre:</p>
    <output class="mensaje"> {{ notification }} </output>
    <button type="button" class="boton boton-hijo" (click)="sendEvent()">
      Enviar evento
    </button>
  </section>
 
</article>