<h1 class="h1 center">Lotería de Uniempresarial</h1>
<div class="center container">
    <app-balota [valor]="number1()" />
    <app-balota [valor]="number2()" />
    <app-balota [valor]="number3()" />
    <app-balota [valor]="number4()" />
    <app-balota [valor]="number5()" />
</div>
<div class="center">
    <button (click)="playLotery()" class="button">JUGAR</button>
    <button (click)="buscarGanadores()" class="button">VER GANADORES</button>
</div>
<hr>

<section class="shadow-lg">
  <h2>{{ numberWin() }}</h2>

  @if (totalGanadores() > 0) {
    <p>Se encontraron {{ totalGanadores() }} jugador(es) ganador(es).</p>
  }

  <app-jugadores class="center"
    [numerosGanadores]="numerosSorteados()"
    (cantidadGanadores)="onCantidadGanadores($event)"
  />
</section>

<!-- <h1 class="h1 center">Lotería de Uniempresarial</h1>
<div class="center container">
    <app-balota [valor]="number1" />
    <app-balota [valor]="number2" />
    <app-balota [valor]="number3" />
    <app-balota [valor]="number4" />
    <app-balota [valor]="number5" />
</div>
<div class="center">
    <hr>
    <button (click)="playLotery()" class="button">JUGAR</button>
    <button (click)="buscarGanadores()" class="button">VER GANADORES</button>
</div>

<h2>{{ numberWin }}</h2>

@if (seBuscoGanadores) {
  @if (ganadores.length > 0) {
    <div class="center">
      <h3>Jugadores ganadores:</h3>
      <ul>
        @for (g of ganadores; track $index) {
          <li>{{ g.nombres }} {{ g.apellidos }} — Número jugado: {{ g.numeroJugado }}</li>
        }
      </ul>
    </div>
  } @else {
    <p>No hubo jugadores ganadores esta vez.</p>
  }
}

<app-jugadores></app-jugadores> -->